<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.snappmobile.snapplayoutdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StateTestActivity"
            android:label="Stateful reload" />
        <activity
            android:name=".SceneAnimationActivity"
            android:label="Scene transitions" />
        <activity
            android:name=".SceneLessResizeActivity"
            android:label="Simple resize" />

        <activity
            android:name=".CoroutinesActivity"
            android:label="Background loading" />

    </application>

</manifest>